*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    text-align: center;
    margin: 0;
    background: linear-gradient(to bottom, #1e1e2f, #3a4a68);
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.contador{
    margin: 0 170px;
    padding-bottom: 100px;
}
.title{
    font-size: 85px;
    margin-bottom: 20px;
    color: black;
    background-color: #87CEEB;
    padding: 10px;
}
.text{
    font-size: 85px;
    margin-bottom: 10px;
}